ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--slate);
}

.header {
    color: var(--slate);
    
}

.logo {
font-weight: 700;
    font-size: 18px;

    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

#web-logo {
    font-weight: 700;
    font-size: 18px;
    
    /* line-height: 21px; */
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    }

.contacts {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    }
    .contacts:hover,
    .contacts:focus {
        color: var(--ocean);

    }
